<!-- code based on: https://geowidget.easypack24.net/examples/basic.html -->

<!DOCTYPE html>
<!-- TODO: [a11y] set 'lang' based on User settings -->
<html lang="pl">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
        <title>Geo-Map</title>

        <style>
            html {
                height: 100%;
            }

            body {
                margin: 0;
                height: 100%;
            }

            .map-list-row,
            .view-chooser {
                padding-inline: 1rem;
            }
        </style>

        <% if (webpackConfig.mode === 'development') { %>
            <script src="/embedded/shipment-map-3rd-party.js"></script>
            <link rel="stylesheet" href="/embedded/shipment-map-3rd-party.css"/>
        <% } else { %>
            <script src="https://geowidget.easypack24.net/js/sdk-for-javascript.js"></script>
            <link rel="stylesheet" href="https://geowidget.easypack24.net/css/easypack.css"/>
        <% } %>

        <script src="/embedded/shipment-map.js"></script>
    </head>

    <body>
        <div id="easypack-map"></div>
    </body>
</html>