.account {
    &__menu {
        display: grid;
        grid-template-columns: 1fr 3fr;

        &-list {
            justify-self: center;
            list-style: none;

            .activeClassName {
                background: green;
            }
        }

        &-tab {
            &.logout-from-sessions {
                display: flex;
                justify-content: space-around;
            }
        }
    }
}