.app-root {
    --main-row-calc: calc(100vh - 4rem);
    display: grid;
    grid-template-rows: 3.5rem minmax(var(--main-row-calc), max-content) minmax(4rem, auto);
    grid-template-areas:
        "header"
        "main"
        "footer";
}
  
.header {
    grid-area: header;
  
    &__toolbar {
      gap: 0;
      flex-wrap: nowrap;
      --search-width-inside-grid: minmax(max-content, calc(var(--tablet-width) * 1px));
    }
    
    &__main-heading {
      flex-grow: 1;
      text-align: center;
      font-size: 1.5rem;
    }
}
  
.main {
    grid-area: main;
    justify-self: center;
    max-width: getBreakpointPXValue(fixed-container);
    width: 100%;
}
  
.footer {
    grid-area: footer;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 0.5rem;
    // TODO: [UI] use MUI color
    background: #3f51b5;
    color: white;
    margin-top: 1rem;
    
    & :first-child {
      margin-top: 0.5rem;
    }

    & :last-child {
      margin-bottom: 0.5rem;
    }
    
    p {
      font-size: small;
    }

    hr {
      width: 50%;
      background-color: currentColor;
    }
}

@include createMediaQuery(min-width, tablet) {
  .app-root {
    grid-template-rows: 4.5rem minmax(var(--main-row-calc), max-content) 4rem;
  }

  .main {
    max-width: getBreakpointPXValue(main-container);
  }

  .header__toolbar {
    display: grid;
    grid-template-columns: 1fr 1fr var(--search-width-inside-grid) 1fr;
    gap: 1rem;
  }

  .header__main-heading {
    flex-grow: 0;
  }

  .footer {
    gap: 1rem;

    & :first-child, & :last-child {
      margin-block: 0;
    }

    hr {
      width: 1px;
    }
  }
}

@include createMediaQuery(min-width, desktop) {
  .header__toolbar {
    grid-template-columns: 1.25fr var(--search-width-inside-grid) auto 0.75fr;
  }

  .header__main-heading {
    justify-self: end;
    font-size: 1.75rem;
  }
}