.cart {
  &--empty__info {
    margin-inline: 1rem;
  }

  &__header {
    position: relative;
    width: 100%;
  }

  &__back-btn {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: max-content;
  }

  &__table {
    thead {
      border-bottom: 2px solid $darkGreyColor;
    }

    th {
      font-weight: bold;
    }

    tfoot {
      border-top: 2px solid $darkGreyColor;
    }
  }

  &__action-buttons {
    width: 100%;
    display: flex;
    justify-content: space-evenly;

    &-submit {
      background: $greenColor;
      color: $whiteColor;

      &:hover {
        background: $darkGreenColor;
      }
    }
  }
}

.add-to-cart-btn {
  background: $greenColor;
  color: $whiteColor;

  &:hover {
      background: $darkGreenColor;
  }
}

@include useMediaQuery(desktop) {
  .cart-toggler-btn {
    justify-self: start;
  }
}