.categories-tree {
  &-heading {
    align-self: flex-start;
  }

  &-form-field__proxy-input--hidden {
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
    border: none;
    opacity: 0;
  }
}

.rstm-tree-item-group {
  .rstm-tree-item {
    margin-block: 0.25rem;
    
    &--active {
      // TODO: [UI] reuse MUI color
      background: #3f51b5;
      color: white;
      border-radius: 0.25rem;
    }
  }
}