.compare-products-candidates {
  display: flex;
  width: fit-content;
  border: 1px solid orange;
  margin: 1rem;
}

.compare-products-candidates__list {
  list-style: none;
  display: inline-flex;
  justify-content: space-around;
  margin: 1rem 0 1rem 1rem;
  padding: 0 1rem 0 0;
  border-right: 1px dashed orange;
}

.compare-products-candidates__actions {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 1rem;
  min-height: 3rem;
}

.compare-products-candidates__list-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 0.5rem;
  height: 3rem;
}

.compare-products-list {
  display: flex;
  list-style: none;
}

.compare-products-list__item {
  margin: 0 0.5rem;
  border: 1px solid orange;
}
