.compare-products-candidates-pc-wrapper {
  flex-basis: 60%;
}

.compare-products-candidates-container {
  margin: 0.3rem;
}

.compare-products-candidates,
.compare-products {
  --product-list-item-width: 200px;
}

.compare-products-candidates {
  display: flex;
  align-items: center;

  &__list {
    list-style: none;
    display: inline-flex;
    justify-content: space-around;
    margin: 1rem 0 1rem 1rem;
    padding-right: 1rem;

    &-counter {
      position: absolute;
      bottom: 0;
      display: flex;
      justify-content: center;
      width: 100%;
      font-style: italic;

      &--blinking {
        animation: 0.25s comparablesCounterBlink;
      }

      @keyframes comparablesCounterBlink {
        0% {
          transform: scale(1);
        }

        50% {
          transform: scale(1.75);
        }

        100% {
          transform: scale(1);
        }
      }
    }
  }

  &__list-item {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 0.5rem;
    width: var(--product-list-item-width);
  }

  &__list-item-remove-button {
    position: absolute;
    top: 0;
    right: 0;
  }

  &__actions {
    display: inline-flex;

    a {
      text-align: center;
      padding: 3px;

      svg {
        vertical-align: middle;
      }
    }
  }
}

.compare-products {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &--slider-control-row {
    margin-bottom: 1rem;
  }

  &__table {
    display: flex;
    width: 100%;
    height: 90%;
  }

  &__head, &__body {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__row {
    display: grid;
    grid-template-columns: repeat(var(--compare-columns-number, auto), minmax(var(--product-list-item-width),1fr));
  }

  &__cell {

  }
}

.compare-products-list {
  display: flex;
  list-style: none;
  margin: 0 24px;

  &__item {
    margin: 0 0.5rem;
    border: 1px solid orange;
    min-width: 225px;
  }

  &__item-short-description {
    padding-left: 1.5rem;
  }
}
