@use '../_var' as *;

.login {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    &__root-fieldset {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    &__submit-button {
        align-self: center;
        background: $greenColor;
        color: $whiteColor;

        &:hover {
            background: $darkGreenColor;
        }
    }

    &__reset-password-hint {
        text-align: center;
    }
}
