@import '../_var';

.nav-toggle-btn {
    order: -1;
}

.nav-close-btn {
    margin-inline: auto;
}

.nav-menu__links {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

@include createMediaQuery(min-width, tablet) {
    .nav-menu__links {
        flex-direction: initial;
    }
}