@import '../_var';

.nav-mobile-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $transparentGrey;
    transition: background $transitionDuration;
}

.nav {
    $width: 150px;

    background: orange;

    &--is-mobile {
        width: $width;
        position: absolute;
        left: -$width;
        transform: translateX(0);
        transition: transform $transitionDuration
    }

    &--mobile-expanded {
        transform: translateX($width);
        transition: transform $transitionDuration
    }

    &__links {
        display: flex;
        justify-content: space-evenly;
    }

    &__toggle-button {
        &--mobile-expanded {
            position: fixed;
            top: 0;
            left: 0;
        }
    }
}

.nav--is-mobile {
    .nav__links {
        flex-direction: column;
    }
}