@import '../_var';

.nav-toggle-btn {
    order: -1;
}

.nav-close-btn {
    margin-inline: auto;
}

.nav-menu {
    &--is-mobile {
        .nav-menu__links {
            flex-direction: column;
        }
    }

    &__links {
        display: flex;
        justify-content: space-evenly;
    }
}