.set-new-password {
    &__fieldset {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 1rem;
    }

    &__field {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__submit-btn {
        align-self: center;
    }
}