.reset-password {
    &__root-fieldset {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    &__submit-btn {
        align-self: center;
    }
}

.set-new-password {
    &__root-fieldset {
        align-items: normal;
    }

    &__submit-btn {
        align-self: center;
    }
}
