.reset-password {
    &__root-fieldset {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    &__header {
        text-align: center;
        padding: 1rem;
    }

    &__email-field {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    &__submit-btn {
        align-self: center;
    }
}

.set-new-password {
    &__root-fieldset {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 1rem;
    }

    &__submit-btn {
        align-self: center;
    }
}

.password-field {
    display: flex;
    align-items: center;
    justify-content: space-between;
}