.pev-element {
    &-form-field-error {
        color: $redColor;
    }

    &-tabs__chooser {
        display: flex;
        align-items: center;
        --scrollable-min-height: 4.5rem;

        .MuiTabs-root {
            flex-basis: 100%;
        }
    }
    
    &-tabs__tab {
        min-width: 10rem;

        &--with-ribbon::before {
            content: attr(data-ribbon-value);
            position: absolute;
            top: 0;
            right: 0;
            display: block;
            border: 1px solid;
            border-radius: 0.5rem;
            padding: 0 0.5rem;
        }

        &--with-horizontal-icon .MuiTab-wrapper {
            flex-direction: row;
            gap: 0.5rem;
        }

        &[aria-selected="true"]::before {
            background: $blueColor;
            color: $whiteColor;
            border-color: transparent;
        }
    }

    &-image {
        height: auto;
        object-fit: contain;
    }

    &-popover-content {
        padding: 0.5rem 1.5rem;
        background: $blueColor;
        color: $whiteColor;
    }

    &-text-field-wrapper input[readonly] {
        background: $greyColor;
        color: $veryDarkGreyColor;
    }
}