.product-comparison-candidates-container {
  position: fixed;
  bottom: 0;
  inset-inline: 0;
  z-index: 1;
  background-color: white;
  // TODO: [UI] set MUI's blue color
  border-top: 2px solid;
  overflow: visible;
}

.product-comparison-candidates {
  display: flex;
  align-items: center;
  width: clamp(
    var(--product-list-item-width),
    calc(var(--desktop-width) * 1px),
    calc(100vw - 1rem)
  );
  margin: 0.5rem auto;

  &__toogle-expand-btn {
    position: fixed;
    --toggle-expand-btn-left: 50%;
    left: var(--toggle-expand-btn-left);
    transform: translate(-50%, -200%);
    width: max-content;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    
    &--force-visibility {
      visibility: visible;
    }
  }

  &__scroller {
    width: 100%;
  }

  &__list {
    list-style: none;
    display: flex;
    justify-content: space-around;
    // use `unqoute` and pass CSS expression as a string to override SCSS `min` function, 
    // because it has problem to recognize `var`
    min-width: unquote("min(var(--product-list-item-width), 100vw)");
  }

  &__list-counter {
    display: flex;
    justify-content: center;
    width: 100%;
    font-style: italic;

    &--blinking {
      animation: 0.25s comparablesCounterBlink;
    }

    @keyframes comparablesCounterBlink {
      0% {
        transform: scale(1);
      }

      50% {
        transform: scale(1.75);
      }

      100% {
        transform: scale(1);
      }
    }
  }

  &__list-item {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 0.5rem;
    min-width: var(--product-list-item-width);
  }

  &__list-item-remove-button {
    position: absolute;
    top: 0;
    right: 0;
  }

  &__actions {
    display: inline-flex;

    a {
      text-align: center;
      padding: 3px;

      svg {
        vertical-align: middle;
      }
    }
  }
}

.product-comparison-candidates-toggle-icon--checked {
  fill: #3f51b5;
}