.product-details {
    margin: 1rem;
    
    &__header {
        display: grid;
        grid-template-areas:
            "category"
            "action-elements"
            "image"
            "base-data-container";
        row-gap: 0.5rem;
    }

    &__header-category {
        grid-area: category;
    }

    &__header-action-elements {
        grid-area: action-elements;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 0.5rem;
    }

    &__base-data-container {
        grid-area: base-data-container;
        justify-content: flex-start;
    }

    &__header-gallery {
        grid-area: image;
        justify-self: center;

        &-image:hover {
            cursor: pointer;
        }

        small {
            text-align: center;
            font-style: italic;
            font-size: x-small;
        }
    }

    &__nav-menu {
        position: relative;
        display: flex;
        align-items: center;
        margin-block: 1rem;
        // TODO: [UI] use better (MUI) color
        border-block: 1px solid lightgrey;
        position: sticky;
        top: 4rem;
        background: white;
        z-index: $productDetailsNavMenuZIndex;

        button {
            width: 2rem;
        }
    }

    &__nav-menu:before {
        content: '';
        position: absolute;
        background: inherit;
        border: inherit;
        height: 100%;
        inset-inline: -1rem;
        box-sizing: content-box;
    }

    &__nav-menu-list {
        display: flex;
        list-style: none;

        li {
            padding: 0;

            &.activated {
                // TODO: [DX] find better way to take MUI's style
                background: rgba(0, 0, 0, 0.04);
            }
        }

        a {
            padding: 0.875rem 1rem;
        }
    }

    &__nav-section {
        margin: 1rem;

        h3 {
            scroll-margin-top: 8rem;
        }
    }

    &__nav-section-specs {
        display: grid;
        grid-template-columns: 1.75fr 2fr;
        padding: 0.75rem 1rem;

        &:nth-of-type(2n - 1) {
            background: lightgrey;
        }
    }

    &__nav-section-related-products {
        display: flex;
        align-items: center;
        --related-product-card-width: 200px;

        [data-compare-btn-scroll-dir] button {
            width: 2rem;
        }

        [data-scrollable-parent] {
            --scrollable-min-height: 8rem;
        }

        ul {
            display: flex;
            gap: 1rem;
        }
    }
}

.zoom-container {
    position: fixed;
    // Overcome MUI navbar `z-index`
    z-index: 1100;
    inset: 0;
    justify-content: center;
    gap: 0.5rem;
    // TODO: [UI] use MUI color
    background:rgba(0, 0, 0, 0.5);

    &__close-btn, &__close-btn:hover {
        // TODO: [UI] use MUI color
        background: white;
    }

    &__image {
        width: auto;
        max-width: 100vw;
        max-height: 100vh;
    }
}

@include createMediaQuery(min-width, tablet) {
    .product-details {
        &__header {
            // grid-template-areas:
            //     "category action-elements action-elements action-elements"
            //     "image image name name"
            //     "image image rating rating"
            //     "image image price price"
            //     "image image buy-btn buy-btn";
            // grid-template-columns: repeat(4, 1fr);
            grid-template-areas:
                "category action-elements action-elements action-elements"
                "image image base-data-container base-data-container";
            grid-template-columns: repeat(4, 1fr);
            gap: 1rem 3rem;
        }

        &__nav-menu-list {
            width: 100%;
            justify-content: center;
        }

        &__nav-section-specs {
            & > dt {
                margin-left: 10rem;
            }
        }
    }
}

@include useMediaQuery(tablet) {
    .product-details__header-image .pev-element-image {
        max-width: 40vw;
    }
}

.product-technical-specs-list {
    &__item {
        display: grid;
        grid-template-columns: 1.75fr 2fr;
        text-align: center;
        padding: 0.75rem 1rem;
    
        &:nth-of-type(2n - 1) {
            background: lightgrey;
        }
    
        dt {
            font-weight: bold;
        }
    }

    &__item-nested-list-parent {
        grid-column: span 2;
    }
}

.product-technical-specs-nested-list {
    &:last-child {
        .product-technical-specs-nested-list__item {
            border-bottom-width: 1px;
        }
    }

    &__item {
        display: grid;
        grid-template-columns: 1.75fr 2fr;
        border: 0 solid lightgrey;
        border-top-width: 1px;

        dt {
            text-align: right;
            font-style: italic;
        }
    }
}

.product-reviews {
    &__new-author {
        display: flex;
        align-items: center;
    }

    cite {
        white-space: normal;
    }
}