@import '../_var';

.product-list-control-bar {
  background: orange;
  position: relative;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: /* TODO: [UI] use more precise/dynamic value */ 50px auto;
  grid-template-areas:
    ". search"
    ". categories"
    ". filters"
    ". view-mode-button";

  // TODO: [UI] add some transition to stickiness
  &--sticky {
    position: sticky;
    z-index: $productListCtrlBarZIndex;
  }

  & .search-container {
    grid-area: search;
  }

  & .categories-tree-container {
    grid-area: categories;
  }

  & .products-filter-container {
    grid-area: filters;
  }

  & .product-list-view-mode-button {
    grid-area: view-mode-button;
  }
}

.product-list {
  // display: flex;
  // flex-wrap: wrap;
  // justify-content: space-between;

  display: grid;
  grid-gap: 1rem;
  list-style: none;

  &--details-view {
    grid-template-columns: 1fr;
  }

  &--tiles-view {
    grid-template-columns: 1fr 1fr;
  }
}
