.product-card {
  display: grid;
  grid-template-areas: "image-link action-btns" "content content";
  gap: 1rem;

  &--detailed-layout {
    grid-template-areas: "image-link content action-btns";
    grid-template-columns: 1fr 2fr 1fr;
  }

  &--compact-layout {
    grid-template-areas: "image-link action-btns" "content content";
    grid-template-columns: 5fr 1fr;
  }

  &--is-compact {
    display: block;
    padding: 0;
    margin-right: 0.5rem;

    .product-card__link {
      display: grid;
      grid-template-areas: "image-link content";
      grid-template-columns: 1fr 2fr;
      padding: 0.5rem 1rem;
    }
  }

  &__content {
    grid-area: content;

    &--is-compact {
      flex-wrap: nowrap;
    }
  }

  &__actions-bar-toggler {
    grid-area: action-btns;
    justify-self: center;
  }
  
  &__actions-bar {
    display: flex;
  }

  &__actions-bar-item {
    column-gap: 0.5rem;
  }

  &__link {
    grid-area: image-link;
  }

  &__image {
    height: 6.25rem;
    background: radial-gradient(transparent, grey);

    &--is-compact {
      height: 4rem;
    }
  }
}