.product-item {
  position: relative;

  &__actions-bar {
    position: absolute;
    top: 0;
    right: 0;
  }

  &__actions-bar-button-item {
    column-gap: 0.5rem;
  }

  &__image {
    height: 100px;
    background: radial-gradient(transparent, grey);
  }
}