@import '../_var';

.products-dashboard {
  &__mobile-control-bar {
    gap: 0.125rem;
    box-shadow: 0 1px 10px 2px $blueColor;
    border: 0px solid $blueColor;
    border-left-width: 2px;
    border-right-width: 2px;
    border-radius: 0 0 8px 8px;
    background: $whiteColor;
    justify-content: space-around;

    // TODO: [UI] add some transition to stickiness
    &--sticky {
      position: sticky;
      top: 3.5rem;
      z-index: $productListCtrlBarZIndex;
      padding: 0.5rem;
    }
  }

  &__filters {
    width: 100vw;
    align-items: stretch;

    &, 
    &-sidebar {
      --bordersAndSeparatorsThickness: 2px;

      section {
        margin-inline: 1rem;
      }

      hr {
        background: $blueColor;
        margin-inline: 0.5rem;
        height: var(--bordersAndSeparatorsThickness);
      }

      .pev-element-form-field-error {
        grid-column: 1 / -1;
      }
    }
  }

  &__filters-header {
    position: relative;
    justify-content: center;
    border-bottom: calc(var(--bordersAndSeparatorsThickness) * 2) double $blueColor;
  }

  &__filters-close-menu-btn {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }

  &__filters-common-actions {
    position: sticky;
    bottom: 0;
    transition: bottom $transitionDuration;
    z-index: 1;
    border-radius: inherit;
    padding: 1rem;
    border-top: calc(var(--bordersAndSeparatorsThickness) * 2) double $blueColor;
    background: inherit;
    justify-content: space-around;

    &-apply {
      background: $greenColor;
      color: $whiteColor;

      &:hover {
        background: $darkGreenColor;
      }
    }
  }

  &__sorting {
    &-control {
      flex-direction: row;
      padding: 0 0.5rem;
      gap: 0.5rem;
    }

    &-select-trigger {
      // override MUI style
      &.MuiInput-formControl {
        margin: 0.25rem 0;
      }

      background: $whiteColor;
    }

    &-select {
      display: flex;
      align-items: center;
      padding-block: 0.25rem;
    }

    &-list-item {
      gap: 0;
      margin-right: 1rem;
    }

    &-alpha-icon path {
      // hide/mask Alphabet icon top and bottom ornaments
      clip-path: polygon(0 15%, 100% 15%, 100% 85%, 0 85%);
    }
  }
}

.products-price-filter {
  &__control-field {
      display: grid;
      grid-template-columns: 2fr 1fr 2fr;
      align-items: center;
      margin: 1rem;

      &-separator {
          justify-self: center;
      }
  }
}

.products-dashboard__list,
.products-list {
  display: grid;
  grid-gap: 1rem;
  list-style: none;

  &--details-view {
    grid-template-columns: 1fr;
  }

  &--tiles-view {
    grid-template-columns: repeat(auto-fit, 14rem);
    justify-content: center;
  }
}

@include createMediaQuery(min-width, tablet) {
  .products-dashboard {
    display: grid;
    grid-template-columns: 1fr 3.5fr;
    grid-template-rows: 4rem auto 4rem;
    grid-template-areas: 
      "sidebar topbar"
      "sidebar list"
      "sidebar pagination";
    grid-gap: 1rem 2rem;
    margin: 1rem;
    transition: grid-template-columns $transitionDuration, grid-column-gap $transitionDuration;

    &__filters-sidebar {
      grid-area: sidebar;
      height: max-content;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      border: var(--bordersAndSeparatorsThickness) solid $blueColor;
    }

    &__topbar {
      grid-area: topbar;
      justify-content: center;
    }

    &__list {
      grid-area: list;
      height: max-content;
    }

    &__pagination {
      grid-area: pagination;
      justify-content: center;
    }
  }
}

@include useMediaQuery(tablet) {
  .products-dashboard {
    &--extended {
      grid-template-columns: 0 1fr;
      grid-column-gap: 0;
    }

    &__filters-sidebar {
      position: relative;
      z-index: 1;
      transition: transform $transitionDuration;

      &--collapsed {
        transform: translateX(calc(-100% - 1rem));
        visibility: hidden;
      }
    }

    &__filters-sidebar-extend-toggle-btn {
      position: absolute;
      left: 100%;
      top: 0.5rem;
      width: max-content;
      visibility: visible;
      border: inherit;
      border-left: none;
      background: $blueColor;
      color: $whiteColor;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      padding-inline: 0 0.3rem;

      &:hover {
        background-color: $darkBlueColor;
      }
    }
  }

  .products-price-filter__control-field {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.75fr 1fr;
  }
}

@include useMediaQuery(desktop) {
  .products-dashboard {
    grid-template-columns: clamp(15rem, 25%, 17rem) auto;
  }
}