@import '../_var';

.product-list-control-bar {
  box-shadow: 0 1px 10px 2px #3f51b5; /* TODO: [CSS] reuse color from variable */
  border: 0px solid #3f51b5; /* TODO: [CSS] reuse color from variable */
  border-left-width: 2px;
  border-right-width: 2px;
  border-radius: 0 0 8px 8px;
  background: white;

  // TODO: [UI] add some transition to stickiness
  &--sticky {
    position: sticky;
    top: 4rem;
    z-index: $productListCtrlBarZIndex;
  }

  &__view-mode-btn {
    margin-inline: 0.3rem auto;
  }
}

.product-list {
  display: grid;
  grid-gap: 1rem;
  list-style: none;

  &--details-view {
    grid-template-columns: 1fr;
  }

  &--tiles-view {
    grid-template-columns: repeat(auto-fit, 14rem);
    justify-content: center;
  }
}

@include createMediaQuery(min-width, tablet) {
  .product-list-container {
    display: grid;
    grid-template-columns: 1fr 3.5fr;
    grid-template-rows: 4rem auto 4rem;
    grid-template-areas: 
      "sidebar topbar"
      "sidebar list"
      "sidebar pagination";
    grid-gap: 1rem 2rem;
    margin: 1rem;
    
    transition: grid-template-columns $transitionDuration, grid-column-gap $transitionDuration;

    .product-list-search-bar {
      grid-area: search;
    }

    .product-list-control-sidebar {
      grid-area: sidebar;
      height: max-content;
      display: flex;
      flex-direction: column;
      gap: 1rem;

      & > section {
        margin: 1rem;
      }
    }

    .product-list-control-topbar {
      grid-area: topbar;
      justify-content: center;
    }

    .product-list {
      grid-area: list;
      height: max-content;
    }

    .product-list-pagination {
      grid-area: pagination;
      justify-content: center;
    }
  }
}

@include useMediaQuery(tablet) {
  .product-list-container--extended {
    grid-template-columns: 0 1fr;
    grid-column-gap: 0;
  }

  .product-list-control-sidebar {
    position: relative;
    z-index: 1;
    transition: transform $transitionDuration;

    &--collapsed {
      transform: translateX(calc(-100% - 1rem));
      visibility: hidden;
    }

    &__extend-toggle-btn {
      position: absolute;
      left: 100%;
      top: 0.5rem;
      width: max-content;
      visibility: visible;
      border: inherit;
      border-left: none;
      // TODO: [UI/DX] reuse MUI color
      background: #3f51b5;
      color: white;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      padding-inline: 0 0.3rem;

      &:hover {
        // TODO: [UI/DX] reuse MUI color
        background-color: #303f9f;
      }
    }
  }
}

@include useMediaQuery(desktop) {
  .product-list-container {
    grid-template-columns: clamp(15rem, 25%, 17rem) auto;
  }
}