@use '../_var' as *;
@use '../_mixins' as *;

.product-details {
    margin: 1rem;
    
    &__header {
        display: grid;
        grid-template-areas:
            "category"
            "action-elements"
            "image"
            "base-data-container";
        row-gap: 0.5rem;
    }

    &__header-category {
        grid-area: category;
    }

    &__header-action-elements {
        grid-area: action-elements;
        justify-self: center;
        width: max-content;
        max-width: 90vw;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 1rem;

        li {
            max-width: max-content;
        }

        a {
            flex-direction: column;
            color: $whiteColor;
        }

        .MuiButton-root {
            width: max-content;
        }

        .MuiButton-label {
            flex-direction: column;
        }

        .MuiButton-startIcon {
            margin-inline: 0;
        }
    }

    &__header-base-data-container {
        grid-area: base-data-container;
        display: grid;
        grid-template-areas: "name name"
            "rating rating"
            "price add-to-cart";
        grid-template-rows: repeat(3, max-content);
        grid-template-columns: 1fr 1.5fr;
        gap: 1.5rem;
        align-items: center;
    }

    &__header-name {
        grid-area: name;

        p {
            font-size: 1.5rem;
            text-align: center;
        }
    }

    &__header-rating.rating-widget {
        grid-area: rating;
        justify-content: center;
    }

    &__header-price {
        grid-area: price;
        justify-self: end;
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }

    &__header-gallery {
        grid-area: image;
        justify-self: center;
        display: 'grid';
        grid-template-rows: 300px auto;

        &-image {
            max-width: 90vw;
            max-height: 300px;

            &:hover {
                cursor: pointer;
            }
        }

        small {
            text-align: center;
            font-style: italic;
            font-size: x-small;
        }
    }

    &__header-buy-btn {
        grid-area: add-to-cart;
        min-width: max-content;
        max-width: 75%;
    }

    &__nav-menu {
        position: relative;
        display: flex;
        align-items: center;
        margin-block: 1rem;
        border-block: 1px solid $greyColor;
        position: sticky;
        top: 3.4rem;
        background: $whiteColor;
        z-index: $productDetailsNavMenuZIndex;

        button {
            width: 2rem;
        }
    }

    &__nav-menu:before {
        content: '';
        position: absolute;
        background: inherit;
        border: inherit;
        height: 100%;
        inset-inline: -1rem;
        box-sizing: content-box;
    }

    &__nav-menu-list {
        display: flex;
        list-style: none;

        li {
            padding: 0;
        }

        a {
            padding: 0.875rem 1rem;
        }
    }

    &__nav-section {
        margin: 1rem;

        h3 {
            scroll-margin-top: 8rem;
        }
    }

    &__nav-section-related-products {
        display: flex;
        align-items: center;
        --related-product-card-width: 200px;

        [data-compare-btn-scroll-dir] button {
            width: 2rem;
        }

        [data-scrollable-parent] {
            --scrollable-min-height: 8rem;
        }

        ul {
            display: flex;
            gap: 1rem;
        }
    }
}

.zoom-container {
    position: fixed;
    // override MUI navbar `z-index`
    z-index: 1100;
    inset: 0;
    justify-content: center;
    gap: 0.5rem;
    background: $transparentGrey;

    &__close-btn, &__close-btn:hover {
        background: $whiteColor;
    }

    &__image {
        width: auto;
        max-width: 100vw;
        max-height: 100vh;
    }
}

@include createMediaQuery(min-width, desktop) {
    .product-details {
        &__header {
            grid-template-areas:
                "category action-elements action-elements action-elements"
                "image image base-data-container base-data-container";
            grid-template-columns: repeat(4, 1fr);
            gap: 1rem 3rem;

            &-gallery-image {
                max-width: 40vw;
                max-height: 500px;
            }
        }

        &__nav-menu {
            top: 4.4rem;
        }

        &__nav-menu-list {
            width: 100%;
            justify-content: center;
        }

        &__nav-section-specs {
            & > dt {
                margin-left: 10rem;
            }
        }
    }
}

@include useMediaQuery(tablet) {
    .product-details {
        &__nav-menu {
            top: 4rem;
        }
    }
}

.product-technical-specs-list {
    &__item {
        display: grid;
        grid-template-columns: 1.75fr 2fr;
        text-align: center;
        padding: 0.75rem 1rem;
    
        &:nth-of-type(2n - 1) {
            background: $greyColor;
        }
    
        dt {
            font-weight: bold;
        }
    }

    &__item-nested-list-parent {
        grid-column: span 2;
    }
}

.product-technical-specs-nested-list {
    &:last-child {
        .product-technical-specs-nested-list__item {
            border-bottom-width: 1px;
        }
    }

    &__item {
        display: grid;
        grid-template-columns: 1.75fr 2fr;
        border: 0 solid lightgrey;
        border-top-width: 1px;

        dt {
            text-align: right;
            font-style: italic;
        }
    }
}

.product-reviews {
    align-items: start;
    margin-top: 1rem;

    .rating-widget {
        order: -1;
    }

    &__list-entry {
        figcaption {
            display: flex;
            gap: 0.5rem;
            order: 2;
        }

        blockquote {
            margin: 0.5rem;
            font-style: italic;

            & p::before {
                content: '\201C';
            }

            & p::after {
                content: '\201D';
            }
        }
    }

    &__form {
        align-self: center;
    }

    &__textarea {
        resize: none;
        padding: 0.5rem;
    }

    &__is-author-anonymous-checkbox {
        flex-direction: row-reverse;
    }

    cite {
        white-space: normal;
    }

    &__submit-btn {
        background: $greenColor;
        color: $whiteColor;

        &:hover {
            background: $darkGreenColor;
        }
    }
}