.product-form {
  legend {
    font-weight: bold;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  &__fields-group {
    padding: 1rem;

    &:first-of-type {
      margin-top: -2rem;
    }
  }

  &__base-info-group {
    align-self: stretch;
    margin-inline: 1rem;
  }

  &__technical-specs-category-choice-reminder {
    display: block;
    text-align: center;
    margin: 1rem;
  }

  &__technical-specs-controls-group--nested-container {
    .product-form__technical-specs-controls-group {
      margin: 0;

      label {
        margin-left: 1rem;
      }
    }
  }

  &__technical-specs-controls-group,
  &__technical-specs-controls-group--nested-container {
    margin-inline: 1rem;
    align-items: center;
    align-self: stretch;
    padding-block: 0;
  }

  &__images {
    &-drag-and-drop {
      gap: 0;
      border-width: 1px;
      border-style: dashed;
      padding: 1rem;
    }

    &-limit-hint {
      animation: blinkText 0.75s ease-in-out 0.25s 3;
    }

    &-list {
      display: grid;
      grid-template-rows: repeat(auto-fit, 9rem);
      gap: 0.5rem;
    }

    &-list-item {
      display: grid;
      grid-template-columns: 1fr 1fr 0.5fr;
      justify-items: center;
      align-items: center;
      gap: 0.5rem;
      padding: 0.5rem;
      border-width: 2px;
      border-style: solid;
    }

    figcaption {
      text-align: center;
    }
  }

  &__save-btn {
    margin-inline: auto;
    background: $greenColor;
    color: $whiteColor;

    &:hover {
      background: $darkGreenColor;
    }

    .MuiButton-label {
      gap: 0.5rem;
    }
  }
}

@include createMediaQuery(min-width, tablet) {
  .product-form {
    &__images-list {
      grid-template-rows: auto;
      grid-template-columns: repeat(var(--images-limit, 3), 1fr);
    }

    &__images-list-item {
      grid-template-columns: auto;
      grid-template-rows: 8rem 1fr 1fr;
      gap: 0;
    }
  }
}

@keyframes blinkText {
  50% {
    transform: scale(1.1);
  }
}