.product-card {
  display: grid;
  gap: 1rem;

  &--detailed-layout {
    grid-template-areas: "link-with-content action-btns";
    grid-template-columns: 1fr max-content;

    .product-card__link {
      grid-template-areas: "image content";
      grid-template-columns: 1fr 2fr;
    }

    .product-card__content {
      grid-template-columns: 1fr max-content;
    }
  }

  &--compact-layout {
    grid-template-areas: 
      "link-with-content action-btns"
      "link-with-content action-btns";
    grid-template-columns: 5fr 1fr;
    align-items: stretch;

    .product-card__link {
      grid-template-areas: "image" "content";
      grid-template-rows: 100px auto;
    }

    .product-card__content {
      grid-template-rows: 2fr 1fr;
      text-align: center;
    }

    .product-card__name {
      align-self: start;
    }
  }

  &--is-compact {
    display: block;
    padding: 0;
    margin-right: 0.5rem;

    .product-card__link {
      grid-template-areas: "image content";
      grid-template-columns: 1fr 2fr;
      padding: 0.5rem 1rem;
    }
  }

  &__link {
    grid-area: link-with-content;
    display: grid;
    gap: 1rem;
  }

  &__image {
    grid-area: image;
    justify-self: center;
  }

  &__content {
    grid-area: content;
    display: grid;
    align-items: center;
    gap: 0.5rem 1rem;

    &--is-compact {
      flex-wrap: nowrap;
    }
  }

  &__actions-bar-toggler {
    grid-area: action-btns;
    justify-self: center;
    align-self: center;
  }
  
  &__actions-bar {
    display: flex;
    flex-wrap: wrap;
  }

  &__actions-bar-item {
    column-gap: 0.5rem;
  }
}