.register {
    &__root-fieldset {
        align-items: normal;
    }

    &__account-types {
        margin-inline: auto 10%;
    }

    &__submit-button {
        width: max-content;
        align-self: center;
    }
}