@import '../_var';

[data-scrollable-parent] {
  overflow: hidden;
  width: 100%;
  position: relative;
  min-height: 5.5rem;
}

[data-scrollable] {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0; // remove margin to correctly calculate offset to parent
  height: 100%;
  $basicHorizontalTranslation: translateX(calc(var(--scrollValue, 0) * 1px));

  &:not(.initial-render) {
    transition: transform 0.25s;
    transform: $basicHorizontalTranslation;
  }

  &.vertically-centered {
    top: 50%;
    transform: $basicHorizontalTranslation translateY(-50%);
  }
}

.scroller-btn {
  position: relative;
  z-index: $scrollerZIndex;
  width: 2rem;
  height: 2rem;

  &:not([disabled]):hover {
    cursor: pointer;
  }
}
