.search-container {
  position: relative;

  // Disable border in default state, because search'es label on tablet and desktop 
  // has it's visual divider made via pseudo element.
  input[type="search"]:not(:hover):not(:focus) + fieldset {
    border: none;
  }
}

.search-menu, .search-menu--mobile {
  &__field-container {
    flex-basis: 85%;
    justify-content: center;
    flex-wrap: nowrap;
  }

  &__input-wrapper {
    flex-basis: 100%;
  }
}

.search-menu--mobile {
  & > .MuiDrawer-paper {
    width: 100vw;
  }

  &__controls {
    justify-content: space-evenly;
    margin: 0.5rem 1rem 0;
    flex-wrap: nowrap;
  }
}

.search-menu__tabs {
  flex-wrap: nowrap;
  gap: 0.5rem;
  box-shadow: none;
  background: $whiteColor;
}

.search-recent-searches {
  ol {
    width: 100%;
    padding-left: 2rem;
  }

  li {
    display: list-item;
    list-style: auto;
  }
}

.search-initial-results {
  .products-list {
    max-height: 65vh;
    overflow-y: auto;
    margin-inline: 0.25rem;
    padding-inline: 0.25rem;
  }

  & > .MuiDivider-root, &__see-all-link {
    align-self: stretch;
  }

  &__see-all-link {
    display: block;
    text-transform: uppercase;
  }
}

@include createMediaQuery(min-width, tablet) {
  .search-menu__field-container {
    padding: 0.5rem 1rem;

    .search-menu__input-wrapper::before {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 1px;
      height: 2rem;
      background: $greyColor;
    }
  }

  .search-menu__tabs {
    position: absolute;
    top: 3.6rem;
    width: 100%;
    border: 2px solid $blueColor;
  }
}