// colors
$transparentGrey: rgba(0, 0, 0, 0.7);

// time
$transitionDuration: 0.125s;

// dimensions
$interactiveItemDimension: 2rem;

// z-index
$popupZIndex: 4;
$navZIndex: 3;
$cartZIndex: 2;
$productListCtrlBarZIndex: 1;
$scrollerZIndex: 1;