@import 'views/shop';
@import 'views/nav';
@import 'views/categoriesTree';
@import 'views/productList';
@import 'views/cart';
@import 'views/pagination';
@import 'views/compareProducts';
@import 'views/scroller';
@import 'views/search';
@import 'views/productsFilter';
@import 'views/formFieldError';
@import 'views/newProduct';
@import 'views/popup';
@import 'views/ratingWidget';
@import 'views/account';

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

.app-root {
  display: grid;
  grid-template-rows: 10vh minmax(80vh, auto) 10vh;
  grid-template-areas:
    "header"
    "main"
    "footer";

  & > * {
    border: 1px solid red;
  }
}

.header {
  grid-area: header;

  &__main-heading {
    text-align: center
  }
}

.main {
  grid-area: main;
}

.footer {
  grid-area: footer;
}
