@import 'views/shop';
@import 'views/categoriesTree';
@import 'views/productList';
@import 'views/cart';
@import 'views/pagination';
@import 'views/compareProducts';
@import 'views/scroller';
@import 'views/search';
@import 'views/productsFilter';
@import 'views/formFieldError';
@import 'views/newProduct';
@import 'views/popup';
@import 'views/ratingWidget';

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

.app-root {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 10vh auto 10vh;
  grid-template-areas:
    "header header"
    "main aside"
    "footer footer";

  & > * {
    border: 1px solid red;
  }
}

.header {
  grid-area: header;
}

.nav {
  ul {
    display: flex;
    justify-content: space-evenly;
  }
}

.main {
  grid-area: main;
}

.footer {
  grid-area: footer;
}
