/*
  TODO: [refactor/improvement] maybe `@import` is not the best utility, 
  especially for `_var`, because it creates globals
*/
@import 'views/shop';
@import 'views/nav';
@import 'views/categoriesTree';
@import 'views/productList';
@import 'views/productCard';
@import 'views/productDetails';
@import 'views/cart';
@import 'views/pagination';
@import 'views/productComparisonCandidates';
@import 'views/productComparison';
@import 'views/scroller';
@import 'views/search';
@import 'views/productsFilter';
@import 'views/formFieldError';
@import 'views/productForm';
@import 'views/popup';
@import 'views/ratingWidget';
@import 'views/register.scss';
@import 'views/confirmRegistration.scss';
@import 'views/login.scss';
@import 'views/account';
@import 'views/password';
@import 'views/scrollToTop';
@import 'views/flexibleList';
@import '_var';

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

.app-root {
  display: grid;
  grid-template-rows: 4rem minmax(calc(100vh - 8rem), auto) 4rem;
  grid-template-areas:
    "header"
    "main"
    "footer";
}

.header {
  grid-area: header;
  height: 4rem;
  justify-content: center;

  &__toolbar {
    justify-content: space-between;
  }
  
  &__main-heading {
    text-align: center;
    white-space: nowrap;
    font-size: 1.75rem;
    transition: font-size $transitionDuration;

    &--small {
      white-space: normal;
      font-size: 1rem;
      // using animation instead of transition to avoid jagged text wrapping behavior
      animation: $transitionDuration shrinkAndWrap;
    }
  }
}

@keyframes shrinkAndWrap {
  from {
    white-space: nowrap;
    font-size: 1.75rem;
  }

  to {
    white-space: normal;
    font-size: 1rem;
  }
}

.main {
  grid-area: main;
}

.footer {
  grid-area: footer;
}
